In [1]:
import pandas as pd

In [4]:
data1 = pd.read_csv("health_depression.csv")
data1.head()

   Year Locationabbr Locationdesc  Depression
0  2014           AL      Alabama        21.3
1  2014           AK       Alaska        15.6
2  2014           AZ      Arizona        18.7
3  2014           AR     Arkansas        21.5
4  2014           CA   California        13.3

In [5]:
data2 = pd.read_csv("poverty_number.csv")
data2.head()

,Geography,Below poverty level; Estimate; Population for whom poverty status is determined
0,Alabama,910175
1,Alaska,80627
2,Arizona,1199061
3,Arkansas,543882
4,California,6259098

In [8]:
merged_data = data1.merge(data2, how = "left", left_on = "Locationdesc" , right_on = "Geography")
merged_data.head()

,Year,Locationabbr,Locationdesc,Depression,Geography,Below poverty level; Estimate; Population for whom poverty status is determined
0,2014,AL,Alabama,21.3,Alabama,910175.0
1,2014,AK,Alaska,15.6,Alaska,80627.0
2,2014,AZ,Arizona,18.7,Arizona,1199061.0
3,2014,AR,Arkansas,21.5,Arkansas,543882.0
4,2014,CA,California,13.3,California,6259098.0

In [9]:
merged_data.to_csv("depression_poverty.csv")